<!DOCTYPE html>
<html lang="pt">

<head>
    <title>BODYTECH - Power BI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../dist/css/adminx.css" media="screen" />
    
    <!-- this is only relevant for the demo -->
    <link rel="stylesheet" href="../demo/demo.css">
    <link rel="stylesheet" type="text/css" href="./dist/css/adminx.css" media="screen" />
    <link rel="stylesheet" href="./demo/demo.css">    
    <link rel="apple-touch-icon" sizes="57x57" href="img/FAV/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/FAV/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/FAV/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/FAV/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/FAV/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/FAV/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/FAV/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/FAV/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/FAV/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/FAV/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/FAV/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/FAV/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/FAV/favicon-16x16.png">
    <link rel="manifest" href="img/FAV/manifest.json">
    <meta name="msapplication-TileColor" content="#00ffffff">
    <meta name="msapplication-TileImage" content="img/FAV/ms-icon-144x144.png">
    <meta name="theme-color" content="#00ffffff">



</head>

<body>
    <div class="adminx-container">
        <nav class="navbar navbar-expand justify-content-between fixed-top">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="../index.html" style="font-weight: bold;">
                <img src="../demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                BODYTECH
            </a>


            <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <span class="navbar-brand mb-0 h1 d-none d-md-block" style="font-weight: bold;">
                        Boletim Operacional
                    </span>
                </div>
            </form>


            <!--<div class="d-flex flex-1 d-block d-md-none">
                <a href="#" class="sidebar-toggle ml-3">
                    <i data-feather="menu"></i>
                </a>
            </div>-->

            <ul class="navbar-nav d-flex justify-content-end mr-2">


                <li class="nav-item dropdown">
                    <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
                        <img src="/demo/img/logout.png" class="d-inline-block align-top" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-danger" href="https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F">Sign out</a>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- expand-hover push -->
        <!-- Sidebar -->
        <div class="adminx-sidebar expand-hover push">
            <ul class="sidebar-nav">


                <!-- Início -->
                <li class="sidebar-nav-item">
                    <a href="../index.html" class="sidebar-nav-link ">
                        <span class="sidebar-nav-icon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Início
                        </span>
                        <span class="sidebar-nav-end">

                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Boletim Operacional - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed " href="/layouts/dashboard.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Dashboard
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->

                <!-- Dashboard - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed active" href="/layouts/boletim_operacional.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Boletim Operacional
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Pesquisa de Satsifação - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/pesquisa_satisfacao.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Pesquisa de Satisfação
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Pesquisa de Satsifação - URA - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/pesquisa_satisfacao_ura.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Pesquisa de Satisfação URA
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->
                
                <!-- Pesquisa de Satsifação - URA - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/relatorio_backlog.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Relatório de Backlog
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->
                
                <!-- Pesquisa de Satsifação - URA - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/book.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Book
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->
                
                <!-- Pesquisa de Satsifação - URA - SEM expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="/layouts/book_v2.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Book - V2
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->          

            </ul>
        </div><!-- Sidebar Endi -->

        <!-- adminx-content-aside -->
        <div class="adminx-content">
            <!-- <div class="adminx-aside">

        </div> -->

            <div class="adminx-main-content">
                <div class="container-fluid">


                    <div class="row">

                        <div class="embed-responsive embed-responsive-16by9">


                            <iframe style="position:absolute;" src="https://app.powerbi.com/reportEmbed?reportId=d4877ee0-fa36-42f1-8a72-11f811fc9949&autoAuth=true&ctid=5f006dac-15f2-4cb9-963f-ae4e6c14859c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWJyYXppbC1zb3V0aC1iLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true">
                            </iframe>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.js"></script>
    <script src="/bower_components/powerbi-client/dist/powerbi.js"></script>

    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="./dist/js/vendor.js"></script> -->
    <script src="../dist/js/adminx.vanilla.js"></script>









</body></html>
